button {
    border: none;
    background-color: rgb(79, 76, 98);
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
}

button:hover {
    background-color: rgb(79, 76, 98);
}

.clear {
    background-color: rgb(243, 61, 29);
}

.clear:hover {
    background-color: rgb(228, 39, 15);
}

.onoff {
    background-color: rgb(243, 168, 29);
}

.onoff:hover {
    background-color: rgb(243, 168, 29);
}


/* Numbers: css */
.numbon {
    background-color: rgb(252, 252, 252);
    color: rgb(79, 76, 98);
}

.numbon:hover {
    background-color: rgb(252, 252, 252);
    color: rgb(79, 76, 98);
}

.numboff {
    background-color: rgb(79, 76, 98);
    color: rgb(252, 252, 252);
}

.numboff:hover {
    background-color: rgb(79, 76, 98);
    color: rgb(252, 252, 252);
}


/* Symbols: css */
.symbolon {
    background-color: rgb(79, 76, 98);
    color: rgb(252, 252, 252);
}

.symbolon:hover {
    background-color: rgb(79, 76, 98);
    color: rgb(252, 252, 252);
}

.symboloff {
    background-color: rgb(252, 252, 252);
    color: rgb(79, 76, 98);
}

.symboloff:hover {
    background-color: rgb(252, 252, 252);
    color: rgb(79, 76, 98);
}